@import "varables.less";

/* FONTS */
@font-face {
  font-weight: normal;
  font-family: 'Myriad Pro';
  src: url(/fonts/MyriadPro-Regular.otf);
}

/* KEEP FOOTER */
html, #root, #wrapper {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
}
.main-content {
  padding: 0 0 70px;
}
.footer {
  margin: -70px auto 0;
  height: 70px;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  color: #000;
  background-color: #f8f9fa;
  font: 12px Arial, Helvetica, sans-serif;
}

/*GENERAL STYLES*/
fieldset {
  margin-top: 20px;
}
.alert {
  padding: 10px 15px;
}
.btn-orange {
  color: #fff;
  background-color: #e88446;
  border-color: #e88446;
}
.btn-orange:hover {
  color: #fff;
  background-color: #e6752e;
  border-color: #e6752e;
}
.btn-black {
  color: #fff;
  text-shadow: none;
  background: #3B3E3F;
  border-color: #3B3E3F;
}
.btn-black:hover {
  color: #fff;
  background-color: #3B3E3F;
  opacity: .9;
}
.btn-black:hover,
.btn-black:focus {
  color: #fff;
  outline: none;
  background: #3B3E3F;
}
.btn-cancel {
  margin-left: 15px;
  background: transparent;
  border-color: #3B3E3F;
  color: #3B3E3F;
}
.btn-cancel:hover {
  background-color: transparent;
  opacity: .7;
}
.btn-red {
  width: 155px;
  display: block;
  color: #ffffff;
  margin: 20px auto;
  box-shadow: none;
  text-shadow: none;
  border-radius: 0;
  background: #A62639;
  border-color: #A62639;
}
.btn-red:hover, .btn-red:focus {
  outline: none;
  color: #ffffff;
  background: #A62639;
  opacity: 0.8;
}
.btn-red[disabled] {
  border-color: inherit;
}
.simple-btn {
  padding: 0;
  color: #A62639;
  line-height: 1;
  margin-left: 10px;
  vertical-align: top;
  &:hover {
    opacity: 0.8;
    color: #A62639;
  }
  &:focus {
    padding: 0;
    color: #A62639;
    line-height: 1;
    margin-left: 10px;
  }
}
.exit {
  float: right;
  height: 16px;
  font-size: 14px;
  margin: 5px 0;
}

.customForm {
  margin-bottom: 20px;
  .help-block {
    margin-top: 0;
    margin-bottom: 5px;
  }
}

.has-error .Select-control {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.Select-option.is-focused {
  background-color: #f1f1f1;
}
.Select.is-focused:not(.is-open) > .Select-control {
  outline: 0;
  border-color: #66afe9;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.Select--multi .Select-value {
  background-color: #f1f1f1;
  /* Fallback color for IE 8 */
  background-color: rgba(241, 241, 241, 0.8);
  color: #393E41;
  border: 1px solid #aaa;
  /* Fallback color for IE 8 */
  border: 1px solid rgba(170, 170, 170, 0.24);
}
.Select--multi .Select-value-icon:hover,
.Select--multi .Select-value-icon:focus {
  background-color: #aaa;
  /* Fallback color for IE 8 */
  background-color: rgba(170, 170, 170, 0.08);
  color: #393E41;
}

.nav {
  margin: 0 0 30px;
}
.nav > li > a {
  padding: 0;
  color: transparent;
  background-color: transparent;
}
.nav > li > a img {
  width: 60px;
  height: 60px;
}
.nav li a:hover{
  opacity: 0.8;
  color: #A62639;
  cursor: pointer;
  background-color: transparent;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: transparent;
}

.container {
  width: 750px;
}
.photo-window {
  width: 100%;
  height: auto;
}
.title-type {
  text-align: center;
  margin-bottom: 20px;
}
